p {
    color: rgb(74, 15, 141);
    font-size: 20px;
    font-style: oblique;
    font-weight: bold;
    font-family: 'Dancing Script';
    text-align: left;
    letter-spacing: 1px;
    word-spacing: 3px;
    line-height: 20px;
    text-shadow: 1px 2px 3px rgb(190, 10, 130);
}

a {
    text-decoration: none;
    color: brown;
}

a:hover {
    text-decoration: underline;
    text-transform: uppercase;
}